QWidget {
    background: #242327;
    color: #ffffff;
}

QTextBrowser {
    background: #379490;
    border: 1px solid #379490;
    border-radius: 8px;
    padding: 8px;
}

QPushButton {
    background-color: #379490;
    border-radius: 14px;
    padding: 8px;
}

QCheckBox::indicator {
    background-color: #379490;
    border-radius: 9px;
    width: 18px;
    height: 18px;
}